<%- include("../partials/header") %>
<div class="container mt-1">
    <header class="jumbotron lead">
       <div class="container">
        <h1 class="display-3">This is the  Campground Page</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <p>
            <a class="btn btn-primary btn-large"href="/campgrounds/new">Add new Campground</a>
        </p>
       </div>
    </header>
    
    <div class="row">
        <div class="col-lg-12">
             <p> Most Popular Campgrounds!</p>
        </div>
    </div>
    <div class="row" >
        <% campgrounds.forEach(function(camp){%>
            <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
                <div class="card my-2">
                    <img src="<%=camp.image%>"class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-center"><%= camp.name %></h5>
                    </div>
                    <p><a href="/campgrounds/<%=camp._id%>" class="btn btn-sm btn-secondary">More info</a></p>
                </div>             
            </div>
        <%})%>
    </div>
    
</div>

<%- include("../partials/footer") %>